body {
  background-color: #383c4a;
  color: white;
}

.App {
  min-height: 100vh;
}
.header {
  position: absolute;
  width: 100%;
  background-color: #272b38;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  h2 {
    font-size: 4rem;
    padding: 1.5rem;
  }
  nav {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    padding-right: 4rem;
    a {
      font-size: 3rem;
      line-height: 100%;
      padding: 2rem;
      text-decoration: none;
      color: white;
      display: block;
    }
    a:hover {
      background-color: black;
    }
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  form {
    display: flex;
    flex-flow: column nowrap;
    font-size: 3rem;
    label {
      padding: .6rem;
      input {
        background-color: #272b38;
        color: white;
        border: none;
        font-size: 2rem;
      }
    }
    button {
      background-color: #272b38;
      color: white;
      font-size: 3rem;
      margin: .6rem;
      border-radius: 1rem;
      border: none;
      padding: 1rem;
    }
    button:hover {
      background-color: black;
    }
  }
}